{% extends 'base/base.html' %}
{% load static %}

{% block title %}Curso Teste Django - Home{% endblock title %}

{% block body %}

    <div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Plataforma Teste Django
				</h2>
					<h3 class="mt-4">Para mais informações, assine.</h3>
						<form action="https://testandodjango.us5.list-manage.com/subscribe/post?u=7f88bc1ee19f951c43cb2fd04&amp;id=ba9be30e73"
							  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
							  class="row gy-2 gx-3 pb-4 align-items-center" target="_blank" novalidate>
						  <div class="row gy-2 gx-3 align-items-center">
							  <div class="col-auto">
								<label class="sr-only" for="mce-EMAIL"></label>
								<input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL"
									   placeholder="exemplo@email.com">
							  </div>
							  <div class="col-auto">
								<label class="sr-only" for="mce-FNAME"></label>
								<input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME"
										placeholder="Seu Nome">
							  </div>
							  <div class="col-auto pt-4">
								<button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
										class="btn btn-primary">Assinar</button>
							  </div>
							  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7f88bc1ee19f951c43cb2fd04_ba9be30e73"
																										tabindex="-1" value=""></div>
						  </div>
						</form>

				<p >
					Este é o projeto usado para treinar a construção de um aplicativo web Django, aplicativo este consistente em uma plataforma de cursos com uma série de features.
					Este site é baseado no projeto desenvolvido no curso <a href="https://plataforma.dev.pro.br">Python Pro</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<h5 class="card-header">
					Conteúdo adicional genérico desta plataforma
				</h5>
				<div class="card-body">
					<p class="card-text">
						<img src="{% static 'img/cat.png' %}" alt="Foto de um gato"
							 class="img-thumbnail img-responsive float-start me-3"/>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Ut imperdiet felis non sollicitudin fringilla.
						Donec aliquam tincidunt dui sed elementum. Proin nec tortor mi.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ornare a dui ac tincidunt.
						Sed nec nunc diam. Ut ut scelerisque nisi, et venenatis massa. Suspendisse potenti.
						Praesent feugiat est eu cursus dignissim. Donec varius leo ac est pharetra feugiat non ac purus.
						Quisque urna magna, cursus a elit sed, bibendum blandit arcu.
						Phasellus tincidunt felis sit amet justo venenatis, id ultrices dolor posuere.
						Pellentesque bibendum mattis velit, ac scelerisque lectus fringilla sed.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock body %}